extends c

snippet cout
cout << "${0:${VISUAL}}" << endl;
endsnippet

snippet cerr
cerr << "${0:${VISUAL}}" << endl;
endsnippet

snippet scout
std::cout << "${0:${VISUAL}}" << std::endl;
endsnippet

snippet scerr
std::cerr << "${0:${VISUAL}}" << std::endl;
endsnippet

snippet using
using std::${0:${VISUAL}};
endsnippet

snippet fore
for (${1:auto i} : ${2:container}) {
    ${0:${VISUAL}}
}
endsnippet

snippet try
try {
    ${1:${VISUAL}}
} catch (${2:...}) {
    ${0}
}
endsnippet
